<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
      xmlns:s="http://typo3.org/ns/ApacheSolrForTypo3/Solr/ViewHelpers"
      data-namespace-typo3-fluid="true"
>


    <div class="panel">
        <div class="panel-heading">
            <h3 class="facet-label panel-title">
                <span class="glyphicon glyphicon-filter"></span>
                <a data-toggle="collapse" data-parent="#facet-accordion{facet.name}" href="#facet{facet.name}">{facet.label}</a>
            </h3>
        </div>

        <div class="panel-collapse collapse" id="facet{facet.name}">
            <div class="form-group">
                <input id="facetfilter{facet.name}" class="form-control facet-filter-box" type="search" placeholder="{s:translate(key: 'faceting_filter', default: 'Filter')}..." />
            </div>

            <div class="facet-option-list facet-type-options fluidfacet list-group" data-facet-name="{facet.name}" data-facet-label="{facet.label}" id="facet-data{facet.name}">
                <f:for each="{facet.options}" as="option" iteration="iteration">
                    <div class="list-group-item facet-filter-item facet-option{f:if(condition:'{iteration.index} > 9', then:' tx-solr-facet-hidden')}" data-facet-item-value="{option.value}">
                        <a class="facet solr-ajaxified" href="{s:uri.facet.addFacetItem(facet: facet, facetItem: option)}">{option.label}</a> <span class="facet-result-count badge">{option.documentCount}</span>
                    </div>
                </f:for>
                <f:if condition="{facet.options -> f:count()} > 10">
                    <div class="list-group-item">
                        <a href="#" class="tx-solr-facet-show-all" data-label-more="{s:translate(key:'faceting_showMore', extensionName:'solr')}" data-label-less="{s:translate(key:'faceting_showFewer', extensionName:'solr')}">
                            <s:translate key="faceting_showMore" extensionName="solr">Show more</s:translate>
                        </a>
                    </div>
                </f:if>
            </div>
        </div>


    </div>

</html>
