<f:render section="Before" arguments="{_all}" optional="true"/>

<div class="module {moduleClass}" data-module-id="{moduleId}" data-module-name="{moduleName}">
	<f:if condition="{formTag}">
		<f:then>
			<f:format.raw>{formTag}</f:format.raw>
		</f:then>
	</f:if>
	<f:if condition="{docHeader.enabled}">
		<f:render partial="DocHeader" arguments="{docHeader:docHeader}"/>
	</f:if>
	<div class="module-body t3js-module-body">
		<f:if condition="{uiBlock}">
			<div id="t3js-ui-block" class="ui-block">
				<core:icon identifier="spinner-circle" size="large"/>
			</div>
		</f:if>
		<f:flashMessages queueIdentifier="{flashMessageQueueIdentifier}"/>

		<f:render section="After" arguments="{_all}" optional="true"/>

		<f:if condition="{can_not_proceed}">
			<f:then>
				<f:render partial="Backend/NoSiteAvailable" arguments="{_all}"/>
			</f:then>
			<f:else>
				<f:variable name="args" value="{0: 'searchbackend', 1: pageUID}"/>
				<typo3-immediate-action action="TYPO3.Backend.Storage.ModuleStateStorage.update" args="{args -> f:format.json() -> f:format.htmlspecialchars()}"></typo3-immediate-action>

				<f:render partial="Backend/FlashMessages"/>
				<f:render section="Main"/>
			</f:else>
		</f:if>


	</div>
	<f:if condition="{formTag}">
		<f:then>
			</form>
		</f:then>
	</f:if>
</div>
