version: 2
updates:
  -
    package-ecosystem: "composer"
    directory: "/"
    schedule:
      interval: "daily"
    allow:
      - dependency-name: "solarium/solarium"
    target-branch: "main"
    commit-message:
      prefix: "[TASK] 13.1.x-dev "
  -
    package-ecosystem: "docker"
    directory: "/Docker/SolrServer"
    schedule:
      interval: "daily"
    target-branch: "main"
    commit-message:
      prefix: "[TASK] 13.1.x-dev "

  # For release-12.1.x
  -
    package-ecosystem: "composer"
    directory: "/"
    schedule:
      interval: "daily"
    allow:
      - dependency-name: "solarium/solarium"
    target-branch: "release-12.1.x"
    commit-message:
      prefix: "[TASK] 12.1.x-dev "
  -
    package-ecosystem: "docker"
    directory: "/Docker/SolrServer"
    schedule:
      interval: "daily"
    target-branch: "release-12.1.x"
    commit-message:
      prefix: "[TASK] 12.1.x-dev "
