.Build
.buildpath
*.cache
.DS_Store
.idea/
.project/
.settings/
atlassian-ide-plugin.xml
composer.lock
Documentation/_make
Documentation-GENERATED-temp
index.php
typo3
typo3conf
typo3temp
typo3_src
uploads
var
vendor
