/.dockerignore export-ignore
/.editorconfig export-ignore
/.gitattributes export-ignore
/.github export-ignore
/.gitignore export-ignore
/.php-cs-fixer.php export-ignore
/.styleci.yml export-ignore
/Build/ export-ignore
/CONTRIBUTING.md export-ignore
/dependabot.yml export-ignore
/Tests/ export-ignore
