language: php

php:
  - 5.3
  - 5.4
  - 5.5
  - 5.6

env:
  matrix:
    - TYPO3_VERSION="~6.2.15"
    - TYPO3_VERSION="~7.6.0"
    - TYPO3_VERSION="dev-master"

matrix:
  fast_finish: true
  exclude:
    - php: 5.3
      env: TYPO3_VERSION="dev-master"
    - php: 5.3
      env: TYPO3_VERSION="~7.6.0"
    - php: 5.4
      env: TYPO3_VERSION="dev-master"
    - php: 5.4
      env: TYPO3_VERSION="~7.6.0"

before_install:
  - composer self-update
  - composer --version
  - composer global require fabpot/php-cs-fixer

install: Tests/Build/bootstrap.sh
script: Tests/Build/cibuild.sh
after_script: Tests/Build/cleanup.sh

cache:
  directories:
    - $HOME/.composer/cache
