language: php

php:
  - 5.5
  - 5.6
  - 7.0

sudo: true

env:
  global:
    - TYPO3_DATABASE_NAME="typo3_ci"
    - TYPO3_DATABASE_HOST="localhost"
    - TYPO3_DATABASE_USERNAME="root"
    - TYPO3_DATABASE_PASSWORD=""
  matrix:
    - TYPO3_VERSION="~7.6.4"
    - TYPO3_VERSION="~8.0.0"
    - TYPO3_VERSION="dev-master"

matrix:
  fast_finish: true
  allow_failures:
    - env: TYPO3_VERSION="dev-master"
    - php: 7.0
  exclude:
    - php: 5.5
      env: TYPO3_VERSION="dev-master"
    - php: 5.6
      env: TYPO3_VERSION="dev-master"
    - php: 5.5
      env: TYPO3_VERSION="~8.0.0"
    - php: 5.6
      env: TYPO3_VERSION="~8.0.0"

before_install:
  - composer self-update
  - composer --version
  - composer global require fabpot/php-cs-fixer

install:
  - Build/Test/bootstrap.sh
script:
  - Build/Test/cibuild.sh
after_script:
  - Build/Release/ter_tag_uploader.sh
  - Build/Test/cleanup.sh

cache:
  directories:
    - $HOME/.composer/cache
