dist: bionic

language: php

services:
  - mysql

php:
  - 7.2
  - 7.3
  - 7.4

jdk:
  - oraclejdk8

addons:
  apt:
    packages:
      - parallel

env:
  global:
    - TYPO3_DATABASE_NAME="typo3_ci"
    - TYPO3_DATABASE_HOST="127.0.0.1"
    - TYPO3_DATABASE_USERNAME="root"
    - TYPO3_DATABASE_PASSWORD=""
    - PHP_CS_FIXER_VERSION="^2.16"
  matrix:
    - TYPO3_VERSION="^9.5"
    - TYPO3_VERSION="9.5.x-dev"

matrix:
  fast_finish: true

before_install:
  - curl -fsSL https://download.docker.com/linux/ubuntu/gpg | sudo apt-key add -
  - sudo add-apt-repository "deb [arch=amd64] https://download.docker.com/linux/ubuntu $(lsb_release -cs) stable"
  - sudo apt-get update
  - sudo apt-get -y -o Dpkg::Options::="--force-confnew" install docker-ce
  - mysql -e 'CREATE DATABASE IF NOT EXISTS typo3_ci;'
  - composer self-update
  - composer --version
  - composer validate --no-check-lock

install:
  - Build/Test/bootstrap.sh

script:
  - Build/Test/cibuild_docker.sh
  - Build/Test/cibuild.sh

after_script:
  - Build/Test/publish_coverage.sh
  - Build/Test/cleanup.sh
  - Build/Release/ter_tag_uploader.sh

cache:
  directories:
    - $HOME/.composer/cache
    - $HOME/solr/downloads
