<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
	  xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
	  xmlns:s="http://typo3.org/ns/ApacheSolrForTypo3/Solr/ViewHelpers">

<f:section name="Form">

	<div class="tx-solr-search-form">
		<s:searchForm id="tx-solr-search-form-pi-results" additionalFilters="{additionalFilters}" suggestHeader="{s:translate(key:'suggest_header',default:'Top Results')}">
			<div class="input-group">
                <f:for each="{existingParameters}" key="name" as="value">
                    <f:form.hidden name="{pluginNamespace}{name}" value="{value}" />
                </f:for>

				<f:if condition="{addPageAndLanguageId}">
					<input type="hidden" name="L" value="{languageUid}" />
					<input type="hidden" name="id" value="{pageUid}" />
				</f:if>

				<input type="text" class="tx-solr-q js-solr-q tx-solr-suggest tx-solr-suggest-focus form-control" name="{pluginNamespace}[q]" value="{q}" />
				<span class="input-group-btn">
					<button class="btn btn-default tx-solr-submit" type="submit">
						<span class=" glyphicon glyphicon-search"></span>
						<span>
							<s:translate key="submit">Search</s:translate>
						</span>
					</button>
				</span>
			</div>
		</s:searchForm>
	</div>

</f:section>