<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
	xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
	xmlns:s="http://typo3.org/ns/ApacheSolrForTypo3/Solr/ViewHelpers"
	data-namespace-typo3-fluid="true"
>

<f:section name="Form">

	<div class="tx-solr-search-form">
		<s:searchForm id="tx-solr-search-form-pi-results" additionalFilters="{additionalFilters}" suggestHeader="{f:translate(key: 'suggest_header', default: 'Top Results', extensionName: 'solr')}">
				<f:for each="{existingParameters}" key="name" as="value">
					<f:form.hidden name="{pluginNamespace}{name}" value="{value}" />
				</f:for>

				<div class="input-group">
					<input type="text" class="tx-solr-q js-solr-q tx-solr-suggest tx-solr-suggest-focus form-control" name="{pluginNamespace}[q]" value="{q}" maxlength="50" />
					<button class="btn btn-primary tx-solr-submit" type="submit">
							<span class="bi bi-search"></span>
							<f:translate key="submit" extensionName="solr">Search</f:translate>
					</button>
				</div>
		</s:searchForm>
	</div>
</f:section>

</html>
