
.docheader-funcmenu select {
	max-width: 500px;
}

table.tx_solr-TCEforms {
	background: none;
}

table.tx_solr-TCEforms a {
	display: none;
}

table.tx_solr-TCEforms table.typo3-TCEforms-select-checkbox tbody {
	display: table-row-group;
}

.tx_solr_mod-admin h3 {
	margin-bottom: 30px;
}

.tx_solr_mod-admin fieldset {
	padding: 10px;
	margin-top: 10px;

	border: none;
	border-top: 2px solid #aaa;
}

.tx_solr_mod-admin legend {
	position: relative;
	bottom: 2px;
	padding: 0px 10px;

	font-size: 12px;
	color: #555;
}

.tx_solr_mod-admin hr {
	border: none;
	border-bottom: 1px solid #cdcdcd;
}

.tx_solr_mod-admin hr.double {
	border-width: 2px;
}