<f:if condition="{showSelectOtherPage}">
	<f:then>
		<f:be.infobox title="No site could be found." state="3">
			<p>Please choose other page in the page tree, which has solr configured.</p>
		</f:be.infobox>
	</f:then>

	<f:else>
		<p>When all of these steps are done check this module again.</p>

		<f:be.infobox title="There is no site configured for your solr extension!" state="3">
			<p>Please check the following:</p>
			<p>If you want to use solr with the TYPO3 site configuration:</p>

			<ul>
				<li>Your site has a page, marked as root page.</li>
				<li>Configure EXT:solr with the TYPO3 site module.</li>
				<li>Check the reports module if any solr error is shown.</li>
			</ul>

			<hr />
			<p><strong>OR</strong></p>
			<hr />
			<p>If you want to use solr with the legacy configuration (domain record and typoscript of EXTCONF setup):</p>
			<ul>
				<li>Your site has a domain configured, please create a domain record on the root page, or configure it in "TYPO3_CONF_VARS|EXTCONF|solr|sites|###rootPageId###|domains"</li>
				<li>Your site has a page, marked as root page.</li>
				<li>Your page has included the solr typoscript configuration.</li>
				<li>You've initialized the solr connections in the backend with the menu item "Initialize solr connections"</li>
				<li>Afterwards please check if the reports module is showing any errors.</li>
			</ul>
		</f:be.infobox>
	</f:else>
</f:if>
