<p>There is no site configured for your solr extension. </p>
<p>Please check the following:</p>
<ul>
	<li>Your page has a domain record.</li>
	<li>Your site has a page, marked as root page.</li>
	<li>Your page has included the solr typoscript configuration.</li>
	<li>You've initialized the solr connections in the backend with the menu item "Initialize solr connections"</li>
	<li>Afterwards please check if the reports module is showing any errors.</li>
</ul>

<p>When all of these steps are done check this module again.</p>