
<p>When all of these steps are done check this module again.</p>

<div class="callout callout-danger">
	<div class="media">
		<div class="media-left"><span class="fa-stack fa-lg callout-icon"><i class="fa fa-circle fa-stack-2x"></i><i
				class="fa fa-exclamation fa-stack-1x"></i></span></div>
		<div class="media-body"><h4 class="callout-title">There is no site configured for your solr extension!</h4>
			<div class="callout-body">
				<p>Please check the following:</p>
				<ul>
					<li>Your page has a domain record.</li>
					<li>Your site has a page, marked as root page.</li>
					<li>Your page has included the solr typoscript configuration.</li>
					<li>You've initialized the solr connections in the backend with the menu item "Initialize solr connections"</li>
					<li>Afterwards please check if the reports module is showing any errors.</li>
				</ul>
			</div>
		</div>
	</div>
</div>