{namespace solr=ApacheSolrForTypo3\Solr\ViewHelpers}

<f:be.container
	includeCssFiles="{solrAdmin: '{f:uri.resource(path:\'StyleSheets/ModuleAdministration.css\')}'}"
>

<f:be.pageRenderer
    loadJQuery="true"
    includeRequireJsModules="{
    0:'TYPO3/CMS/Solr/FormModal',
    1:'TYPO3/CMS/Solr/SelectToggle'
}"
/>
	<div class="module" id="ext-solr-mod-administration-php">

		<div id="typo3-docheader">
			<div class="module-docheader t3js-module-docheader">
				<div class="module-docheader-bar module-docheader-bar-buttons t3js-module-docheader-bar t3js-module-docheader-bar-buttons">

					<div class="module-docheader-bar-column-left">
						<div class="form-inline">
							<div class="form-group form-group-sm">
								<solr:backend.sites>
									<f:if condition="{hasSites}">
										<f:then>
											<label>Site:</label> <solr:backend.menu.SiteSelectorMenu name="site" class="form-control t3-js-jumpMenuBox"/>
										</f:then>
										<f:else>
											No Solr connections initialized!
										</f:else>
									</f:if>
								</solr:backend.sites>
							</div>
						</div>
					</div>
				</div>
				<div class="right">
				</div>
			</div>
			<div class="typo3-docheader-buttons">
				<div class="left">
				</div>
				<div class="right">
					<f:be.buttons.shortcut />
				</div>
			</div>
		</div>
		<div class="module-body t3js-module-body">
			<div id="typo3-inner-docbody" class="container-fluid">
				<div class="row-fluid">
					<solr:backend.sites>
						<f:if condition="{hasSites}">
							<f:then>

								<div id="moduleMenu" class="span3">
									<f:render partial="ModuleMenu" arguments="{modules: modules, activeModule: activeModule}" />
								</div>
								<div id="moduleContent" class="span9">
									<f:render section="content" />
								</div>
							</f:then>
							<f:else>
								<p>There is no site configured for your solr extension. </p>
								<p>Please check the following:</p>
								<ul>
									<li>Your page has a domain record.</li>
									<li>Your site has a page, marked as root page.</li>
									<li>Your page has included the solr typoscript configuration.</li>
									<li>You've initialized the solr connections in the backend with the menu item "Initialize solr connections"</li>
									<li>Afterwards please check if the reports module is showing any errors.</li>
								</ul>

								<p>When all of these steps are done check this module again.</p>
							</f:else>
						</f:if>
					</solr:backend.sites>
				</div>
			</div>
		</div>
	</div>
</f:be.container>