{namespace solr=ApacheSolrForTypo3\Solr\ViewHelpers}

<f:render partial="CoreSelector" />

<f:if condition="{synonyms}">
	<f:then>
		<table class="table table-striped">
			<thead>
			<tr class="t3-row-header">
				<th>Base Word</th><th>Synonyms</th><th>&nbsp;</th>
			</tr>
			</thead>
			<tbody>
				<f:for each="{synonyms}" key="baseWord" as="synonymList">
				<tr>
					<td>{baseWord}</td>
					<td>{synonymList}</td>
					<td>
						<f:be.buttons.icon
							uri="{f:uri.action(controller:'Administration', arguments:{module:'{module.name}', moduleAction:'deleteSynonyms', baseWord: '{baseWord}'})}"
							icon="actions-edit-delete"
							title="Remove Synonym Mapping"
						/>
					</td>
				</tr>
				</f:for>
			</tbody>
		</table>
	</f:then>
	<f:else>
		<div class="well">
			<p>No synonyms configured yet.</p>
		</div>
	</f:else>
</f:if>

<h3>Add Synonyms (lowercase)</h3>
<div class="section">
	<f:form actionUri="{f:uri.action(controller:'Administration', arguments:{module:'{module.name}', moduleAction:'addSynonyms'} )}" id="add-synonyms">
		<div class="form-group">
			<label for="baseWord">Base Word</label>
			<f:form.textfield id="baseWord" name="baseWord" class="form-control" />
			<span class="example">f.e. iphone</span>
		</div>
		<div class="form-group">
			<label for="synonyms">Synonyms</label>
			<f:form.textfield id="synonyms" name="synonyms" class="form-control" />
			<span class="example">comma-separated; f.e. smartphone, cellphone</span>
		</div>
		<div class="submit indented">
			<f:form.submit value="Add Synonyms" class="btn btn-sm btn-default"/>
		</div>
	</f:form>
</div>
