
<div class="row">
	<div class="col-md-3">
		<f:form actionUri="{f:uri.action(controller:'Administration', arguments:{module:'{module.name}', moduleAction:'reloadIndexConfiguration'} )}">
			<f:form.submit value="Reload Configuration" class="btn btn-sm btn-default" />
		</f:form>
	</div>
	<div class="col-md-9 action-description">
		<h3>Reload Core Configuration</h3>
		<p>
		A core in Solr is what holds your index. When changing core/index configuration
		such as synonyms, stop words, or protected words you need to reload the core
		to make the changes become active. To reload configuration you can either restart
		the whole Solr server or simply reload a specific core.
		Here you can reload the site's cores/indexes.
		</p>
	</div>
</div>

<div class="row section-with-header danger-zone">
	<h2>
		<f:translate key="solr.backend.danger_zone"/>
	</h2>
</div>

<div class="row">
	<div class="col-md-3">
		<f:form controller="Administration" arguments="{module:'{module.name}', moduleAction:'emptyIndex'}" method="POST">
			<f:form.submit class="btn btn-sm btn-default btn-danger t3js-modal-formsubmit-trigger"
						   data="{title: 'Please confirm', content: 'Are you sure you want to clear the index? All Solr documents will be removed.', severity: 'warning'}"
						   value="Empty Index"/>

		</f:form>
	</div>
	<div class="col-md-9 action-description">
		<h3>Empty Index</h3>

		<p>
			This will simply empty the site's index. When doing so it will take
			care of
			only deleting the currently selected site's documents even if
			you index multiple sites into one index.
		</p>
	</div>
</div>
