<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
			xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
			xmlns:s="http://typo3.org/ns/ApacheSolrForTypo3/Solr/ViewHelpers"
			data-namespace-typo3-fluid="true"
>

<f:if condition="{hidden}">
	<f:then></f:then>
	<f:else>
		<table class="table table-sm table-striped">
			<thead>
				<tr>
					<th colspan="2"><f:format.raw>{pluginLabel}</f:format.raw></th>
				</tr>
			</thead>
			<tbody>
				<f:for each="{settings}" as="settingValue" key="settingName">
					<tr>
						<th scope="row">{settingName}</th>
						<td>{settingValue}</td>
					</tr>
				</f:for>
			</tbody>
		</table>
	</f:else>
</f:if>

</html>
