
<f:if condition="{top_search_phrases}">
    <div class="row">
        <div class="col-md-12">
            <h2>
                <f:translate key="solr.backend.search_statistics_module.top_search_phrases"/>
            </h2>

            <ul>
            <f:for each="{top_search_phrases}" as="phrase">
                <li>
                    {phrase.keywords} ({phrase.count})
                </li>
            </f:for>
            </ul>
        </div>
    </div>

    <hr class="section-divider" />
</f:if>

<f:if condition="{top_search_phrases_without_hits}">
    <div class="row section-with-header">
        <div class="col-md-12">
            <h2>
                <f:translate key="solr.backend.search_statistics_module.top_search_phrases_without_hits"/>
            </h2>

            <ul>
                <f:for each="{top_search_phrases_without_hits}" as="phrase">
                    <li>
                        {phrase.keywords} ({phrase.count})
                    </li>
                </f:for>
            </ul>
        </div>
    </div>

    <hr class="section-divider" />
</f:if>

<div class="row section-with-header">
    <div class="col-md-12">
        <h2>
            <f:translate key="solr.backend.search_statistics_module.search_phrases_header"/>
        </h2>

        <f:if condition="{search_phrases_statistics}">
        <f:then>
            <table class="table table-striped">
                <thead>
                <tr class="t3-row-header">
                    <th class="nowrap">&nbsp;</th>
                    <th>
                        <f:translate key="solr.backend.search_statistics_module.item_phrase"/>
                    </th>
                    <th>
                        <f:translate key="solr.backend.search_statistics_module.item_count"/>
                    </th>
                    <th>
                        <f:translate key="solr.backend.search_statistics_module.hits"/>
                    </th>
                    <th>
                        <f:translate key="solr.backend.search_statistics_module.percentage"/>
                    </th>
                </tr>
                </thead>
                <tbody>
                <f:for each="{search_phrases_statistics}" as="item" iteration="i">
                    <tr>
                        <td class="nowrap"><strong>{i.cycle}.</strong></td>
                        <td>{item.keywords}</td>
                        <td>{item.count}</td>
                        <td>{item.hits}</td>
                        <td><f:format.number decimals="1">{item.percent}</f:format.number>%</td>
                    </tr>
                </f:for>
                </tbody>
            </table>
        </f:then>
        <f:else>
            <f:be.infobox state="2">
                <f:translate key="solr.backend.search_statistics_module.no_records_found"/>
            </f:be.infobox>
        </f:else>
        </f:if>
    </div>
</div>

