.tx_solr .searchinfo {
    margin-top: 20px;
    margin-bottom: 10px;
}

.tx_solr .search-result {
    margin-bottom: 10px;
}

.tx_solr .prefixgroup-tabs a {
    padding-left: 1px!important;
    padding-right: 2px!important;
    font-size: smaller;
}

.tx_solr .btn-circle {
    height: 24px;
    text-align: center;
    padding: 3px 3px;
    font-size: 12px;
    line-height: 1.42;
    border-radius: 15px;
    border-color: #ddd;
}

.tx_solr .facet-type-hierarchy .list-group-item {
    padding-left: 10px!important;
    padding-right: 0px!important;
}

.tx_solr .query-debug {
    font-size: 12px;
}

.results-highlight {
    background: #fdee53;
}

/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */
/* frequent searches */

#tx-solr-frequent-searches ul {
    padding-right: 10px;
    padding-left: 0px!important;
}

#tx-solr-frequent-searches li {
    list-style-type: none;
    margin-right: 10px;
    display: inline;
}

.tx-solr-frequent-term-14 {
    font-size: 14px;
}
.tx-solr-frequent-term-15 {
    font-size: 15px;
}
.tx-solr-frequent-term-16 {
    font-size: 16px;
}
.tx-solr-frequent-term-16 {
    font-size: 16px;
}
.tx-solr-frequent-term-17 {
    font-size: 17px;
}
.tx-solr-frequent-term-18 {
    font-size: 18px;
}
.tx-solr-frequent-term-19 {
    font-size: 19px;
}
.tx-solr-frequent-term-20 {
    font-size: 20px;
}
.tx-solr-frequent-term-21 {
    font-size: 21px;
}
.tx-solr-frequent-term-22 {
    font-size: 22px;
}
.tx-solr-frequent-term-23 {
    font-size: 23px;
}
.tx-solr-frequent-term-24 {
    font-size: 24px;
}
.tx-solr-frequent-term-25 {
    font-size: 25px;
}
.tx-solr-frequent-term-26 {
    font-size: 26px;
}
.tx-solr-frequent-term-27 {
    font-size: 27px;
}
.tx-solr-frequent-term-28 {
    font-size: 28px;
}
.tx-solr-frequent-term-29 {
    font-size: 29px;
}
.tx-solr-frequent-term-30 {
    font-size: 30px;
}
.tx-solr-frequent-term-31 {
    font-size: 31px;
}
.tx-solr-frequent-term-32 {
    font-size: 32px;
}
.tx-solr-frequent-term-33 {
    font-size: 33px;
}
.tx-solr-frequent-term-34 {
    font-size: 34px;
}
