<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Page browser template</title>
<!-- ###HEADER_ADDITIONS### begin -->

<!-- ###HEADER_ADDITIONS### end -->
</head>
<body>

<h1>Page browser</h1>
<!-- ###PAGE_BROWSER### begin -->
<!--TYPO3SEARCH_end-->
<ul class="tx-pagebrowse">
	<!-- ###ACTIVE_FIRST### begin -->
	<li class="tx-pagebrowse-first"><a href="###FIRST_LINK###">&laquo; ###TEXT_FIRST###</a></li>
	<!-- ###ACTIVE_FIRST### end -->

	<!-- ###INACTIVE_FIRST### begin -->
	<li class="tx-pagebrowse-first">&laquo; ###TEXT_FIRST###</li>
	<!-- ###INACTIVE_FIRST### end -->

	<!-- ###ACTIVE_PREV### begin -->
	<li class="tx-pagebrowse-prev"><a href="###PREV_LINK###">&lsaquo; ###TEXT_PREV###</a></li>
	<!-- ###ACTIVE_PREV### end -->

	<!-- ###INACTIVE_PREV### begin -->
	<li class="tx-pagebrowse-prev">&lsaquo; ###TEXT_PREV###</li>
	<!-- ###INACTIVE_PREV### end -->

	<!-- ###PAGES### begin -->
	<li class="tx-pagebrowse-pages">
		<ol>
			<!--  ###LESS_PAGES### begin -->
			<li>...</li>
			<!--  ###LESS_PAGES### end -->
			<!-- ###PAGE### begin -->
			<li class="tx-pagebrowse-page"><a href="###LINK###">###NUMBER_DISPLAY###</a></li>
			<!-- ###PAGE### end -->
			<!-- ###CURRENT### begin -->
			<li class="tx-pagebrowse-current">###NUMBER_DISPLAY###</li>
			<!-- ###CURRENT### end -->
			<!--  ###MORE_PAGES### begin -->
			<li>...</li>
			<!--  ###MORE_PAGES### end -->
		</ol>
	</li>
	<!-- ###PAGES### end -->

	<!-- ###ACTIVE_NEXT### begin -->
	<li class="tx-pagebrowse-next"><a href="###NEXT_LINK###">###TEXT_NEXT### &rsaquo;</a></li>
	<!-- ###ACTIVE_NEXT### end -->

	<!-- ###INACTIVE_NEXT### begin -->
	<li class="tx-pagebrowse-next">###TEXT_NEXT### &rsaquo;</li>
	<!-- ###INACTIVE_NEXT### end -->

	<!-- ###ACTIVE_LAST### begin -->
	<li class="tx-pagebrowse-last"><a href="###LAST_LINK###">###TEXT_LAST### &raquo;</a></li>
	<!-- ###ACTIVE_LAST### end -->

	<!-- ###INACTIVE_LAST### begin -->
	<li class="tx-pagebrowse-last">###TEXT_LAST### &raquo;</li>
	<!-- ###INACTIVE_LAST### end -->

</ul>
<!--TYPO3SEARCH_begin-->
<!-- ###PAGE_BROWSER### end -->

</body>
</html>