@import "../../External/bootstrap/css/bootstrap.css";
@import "BootstrapTypo3.css";
@import "Backend/IndexingConfigurationSelectorField.css";

/* ----- icons ----- */

[class^="icon-"], [class*=" icon-"] {
	background-image: none!important;
}

/* ----- module menu ----- */

#moduleMenu {
	max-width: 200px;
}

#moduleMenu .nav-list > .active > a {
	font-weight: bold;
}


/* ----- module menu ----- */

h2.module-title {
	margin-top: 0;
}

/* ----- site selector, core selector ----- */

.coreSelector,
.siteSelector {
	display: inline-block;
	padding-top: 4px;
}

.coreSelector select,
.siteSelector select {
	width: auto;
	height: auto;
	line-height: 16px;
	font-size: 11px;
	margin: auto;
	padding: 0;
	border: 1px solid;
	border-radius: 5px;
	cursor: default;
	background-color: #ffffff;
	-webkit-appearance: menulist;
	-moz-appearance: menulist;
}

.coreSelector label,
.siteSelector label {
	width: auto;
	line-height: normal;
}


/* ----- UI elements ----- */

hr.double {
	border-width: 2px;
}

.typo3-messages {
	margin-bottom: 20px;
}

.section {
	background-color: #ededed;
	border-top: 1px solid #cdcdcd;
	border-bottom: 1px solid #cdcdcd;
	padding: 12px;
	margin-bottom: 24px;
}

.section-with-header h2 {
	margin-top: 0;
}


.row-fluid.danger-zone {
	margin-bottom: 10px;
	margin-top: 50px;
}

.danger-zone h2 {
	border-bottom: 1px solid #dddddd;
	padding-bottom: 20px;
}

/* ----- Forms ----- */

form div {
	clear: both;
	margin-bottom: 5px;
}

form div.submit {
	padding-top: 10px;
	padding-bottom: 10px;
}

form div.submit.indented {
	padding-left: 100px;
}

form span.example {
	font-size: 10px;
	display: inline-block;
	line-height: 21px;
}


/* ----- Index Maintenance ----- */

.section-divider {
	border-bottom: 1px solid #dddddd;
	margin-bottom: 20px;
	padding-bottom: 10px;
}

.action:last-child {
	border-bottom: none;
}

.action-description h3 {
	margin-top: 0;
}


/* ----- Index Fields ----- */

#typo3-inner-docbody p {
	margin: 7px 0;
}

table.tx_solr_index_list {
	width: 100%;
}

.tx_solr_index_list td {
	padding: 2px 4px;
	vertical-align: middle;
	height: 20px;
	font-size: 11px;
	border-bottom: 1px solid #dee0e1;
}

.tx_solr_index_list .bgColor2 td {
	text-align: left;
	font-weight: bold;
	color: #fff;
}

#tx-solr-connection {
	float: right;
}

#tx-solr-connection select {
	max-width: 300px;
}

.coreSelector {
	margin-bottom: 20px;
}

.core-metrics .well {
	padding: 10px;
}

.core-metrics p {
	font-size: 20px;
	font-weight: bold;
	color: #555555;
}

.core-metrics h3 {
	margin-bottom: 0;
}


/* ----- Synonyms ----- */

form input[type="text"] {
	width: 250px;
}


