div.ac_results{
	padding: 0px;
	border: 1px solid black;
	background-color: white;
	overflow: hidden;
	z-index: 99999;
}

div.ac_results ul{
	margin: 0px;
	padding: 0px;
	background: #fff;
	list-style-type: none;
}

div.ac_results ul li{
	margin: 0px;
	padding: 5px;
	text-align: left;
}

div.ac_results ul li strong{
	color: green;
	font-weight: bold;
}

.ac_odd {
	background-color: #eee;
}

.ac_over {
	background-color: #0A246A;
	color: white;
}

