<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
			xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
			data-namespace-typo3-fluid="true"
>
<f:comment><!--
This file is a placeholder to allow EXT:solrdebugtools work as plug&play addon.

EXT:solr generates a query for Apache Solr based on configuration and user input.
This query is important for debugging.
It helps to understand the order or to manually execute this query on the solr server.
You can try the query-settings in Apache Solr admin UI and then transfer them into TypoScript configurations or implement new features.

NOTE: The debug-query may not work properly if POST-Big-Request solarium plugin is enabled. See: TYPO3-Solr/ext-solr#3115 (comment)

--></f:comment>
<f:section name="Query"/>
</html>
