
#tx-solr-search {
	width: 75%;
	float: left;
}

#tx-solr-search-functions {
	width: 25%;
	float: right;
}

/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */
/* search form */

.tx-solr-search-form {
	background-color: #f2f2f2;
	border: 1px solid #cfcecf;
	padding: 10px;
	margin-bottom: 10px;
}

.tx-solr-q {
	border: 1px solid #cfcecf;
	padding: 5px;
	width: 80%;
}

.tx-solr-submit {
	background-color: #cfcecf;
	border: none;
	padding: 6px;
	color: #494949;
	font-weight: bold;
	width: 15%;
}

/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */
/* search functions */


#tx-solr-search-functions div.secondaryContentSection {
	padding: 0px 0px 10px 0px;
	width: 100%;
}

#tx-solr-search-functions .secondaryContentSection .csc-header {
	padding-left: 10px;
}

#tx-solr-search-functions .secondaryContentSection .csc-header h1,
#tx-solr-search-functions .secondaryContentSection .csc-header h2,
#tx-solr-search-functions .secondaryContentSection .csc-header h3 {
	width: 100%;
}

/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */
/* faceting */

#tx-solr-faceting .facets .csc-header {
	padding: 3px 0px 3px 10px;
}

#tx-solr-faceting .facets .facet-option-list {
	padding: 5px 0px 10px 0px;
}

#tx-solr-faceting .facets .facet-type-numericRange .facet-option-list {
	width: 85%;
}

#tx-solr-faceting .facets .facet-label {
	background-color: #cfcecf;
	color: #fff;
	font-weight: bold;
}

#tx-solr-facets-in-use li {
	list-style-type: none;
	margin-left: 10px;
}

#tx-solr-facets-in-use .facets-remove-all {
	margin-top: 10px;
}

#tx-solr-faceting .facets li {
	list-style-type: none;
	margin-left: 0px;
}

/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */
/* sorting */

#tx-solr-sorting li {
	list-style-type: none;
	margin-left: 10px;
}

/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */
/* results */

#tx-solr-search .tx-pagebrowse {
	margin-top: 10px;
}

#tx-solr-search .results-list {
	margin-top: 10px;
}

#tx-solr-search .results-list li {
	list-style: none inside;
	margin-left: 0px;
}

.results-entry {
	border-bottom: 1px solid #cfcecf;
	margin-bottom: 20px;
}

.results-topic {
	font-weight: bold;
	margin-bottom: 5px;
}

.relevance {
	height: 20px;
}

.relevance-label,
.relevance-bar,
.relevance-percent {
	float: left;
	margin-right: 3px;
}

.relevance-bar {
	height: 20px;
	padding-top: 3px;
}
/* frequent searches */
/* relevance */

.tx-solr-relevance-bar {
	width: 100px;
	height: 8px;
	border: 1px solid #ccc;
	font-size: 1px;
	padding: 1px;
}

.tx-solr-relevance,
.tx-solr-relevance-fill {
	margin-right: 0px !important;
	height: 8px;
	padding: 0px;
	float: left;
}

.tx-solr-relevance {
	background-color: #aac402;
}

.tx-solr-relevance-fill {
	background-color: #ccc;
}

/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */
/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */
.results-highlight {
	background: #fdee53;
}
#tx-solr-frequent-searches ul {
	padding-right: 10px;
}

#tx-solr-frequent-searches li {
	list-style-type: none;
	margin-left: 10px;
	display: inline;
}



