.stats_container {
    text-align: center;
}

.legend {
    display: inline-block;
}

.legend .color {
    display: inline-block;
    width: 8px;
    height: 8px;
    background: black;
    border-radius: 10px;
}

.t3-help-link .t3-help-teaser-icon .t3-icon {
    margin-top: 4px;
}

.progress {
    height: 30px !important;
}

.progress .progress-bar {
    text-align: left !important;
    padding-left: 5px;
    vertical-align: middle;
    line-height: 30px;
}

.index-queue-init-form .panel {
    box-shadow: none;
    border: none;
}
