.stats_container {
    text-align: center;
}

.legend {
    display: inline-block;
}

.legend .color {
    display: inline-block;
    width: 8px;
    height: 8px;
    background: black;
    border-radius: 10px;
}

.section-with-header h2 {
    margin-top: 0;
}