.docheader-funcmenu select {
    font-size: var(--typo3-font-size);
    max-width: 500px;
}

.tx_solr_mod-admin h3 {
    color: var(--typo3-text-color-base);
    margin-bottom: calc(var(--typo3-spacing) * 1.5);
}

.tx_solr_mod-admin fieldset {
    border: none;
    border-top: 2px solid var(--typo3-component-border-color);
    margin-top: calc(var(--typo3-spacing) * .5);
    padding: calc(var(--typo3-spacing) * .5);
}

.tx_solr_mod-admin legend {
    bottom: 2px;
    color: var(--typo3-text-color-variant);
    font-size: var(--typo3-font-size);
    line-height: var(--typo3-line-height);
    padding: 0 calc(var(--typo3-spacing) * .5);
    position: relative;
}

.tx_solr_mod-admin hr {
    border: none;
    border-bottom: var(--typo3-component-border-width) solid var(--typo3-component-border-color);
}

.tx_solr_mod-admin hr.double {
    border-width: 2px;
}
